<h2>Edit Admin Profile Image</h2>

{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}

<form action="/admin/profile/edit" method="POST" enctype="multipart/form-data">
  <div>
    <label for="profileImage">Upload Profile Image:</label>
    <input type="file" id="profileImage" name="profileImage" accept="image/*" required />
  </div>
  <button type="submit">Upload</button>
</form>

<p>
  <a href="/admin/profile">Back to Profile</a>
</p>
